<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-6 offset-3">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title"><%= todo.name %></h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">日付： <%= todo.date %></li>
        <li class="list-group-item">優先順位： <%= todo.category %></li>
        <li class="list-group-item">メモ： <%= todo.memo %></li>
      </ul>
      <div class="card-body">
        <a href="/todos/<%=todo.id %>/edit" class="card-link btn btn-primary"
          >編集</a
        >
        <a href="/todos" class="card-link btn btn-outline-primary"
          >ToDoリストへ戻る</a
        >
      </div>
    </div>
  </div>
</div>
